body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*Cabeçalho*/
header{
    width: auto;    
    height: 150px;
}

#transparente{
    width: auto;    
    height: 150px;
    background-color: #663300;
    opacity: .6;
}

#segura{
    width: 1200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    position: relative;
    margin-top: -150px; 
}

#logo{
	width:230px;
	height:140px;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
    margin-right: 100px;
}

#menu{
    width: 500px;
    height: 150px;
    float: left;
    margin-right: 100px;
}

.item_menu{
    width: 120px;
    height: 45px;
    padding-top: 15px;
    float: left;
    text-align: center;
    margin-right: 5px;  
    font-family:inherit;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.item_menu_diferente{
    width: 120px;
    height: 55px;
    padding-top: 5px;
    float: left;
    text-align: center;
    margin-right: 5px;  
    font-family:inherit;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}


#cima{
    width: 500px;
    height: 65px;
    margin-top: 10px;
}

#baixo{
    width: 375px;
    height: 65px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.item_menu a{
   color: #000;
}

.item_menu_diferente a{
   color: #000;
}

.item_menu #cor{
   color: #FFFF00;
}
/**/

#principal{
    width: 400px;
    height: 725px;
    margin-left: auto;
    margin-right: auto;
    border: double #000000;
    border-radius:50px 50px 50px 50px;
    background-color: #000000;
    margin-top: 20px;
    
}

#container{
    width: 340px;
    height: 642px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/**/
.tamanho{
    width: 340px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tamanho_caixa{
    width: 80%;
}

#titulo{
    width: 340px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    color:#000000;    
}

textarea{
    resize: none;
    width: 80%;
    height: 80%;
}

#obs{
    width: 340px;
    height: 110px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    
}

#btn{
    width: 340px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

/*Rodapé*/
footer{
    width: auto;    
    height: 87px;
}

#segura1{
    width: 960px;
    height: 87px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    position: relative;
    margin-bottom: -86px;
}

#transparente1{
    width: auto;    
    height: 87px;
    background-color: #663300;
    opacity: .6;
}

#t{
    width: 960px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    font-family:Arial;
}

#mapa_site{
    width: 800px;
    height: 50px;
    float: left;
    margin-top: 5px;
}

.item_mapa{
    width: 100px;
    height: 50px;
    float: left;
    font-family:inherit;
    color: #000;
    text-align: center;
    margin-left: 10px;
}

.item_mapa a{
   color: #000;
}

#rede_social{
    width: 150px;
    height: 56px;
    float: left;
    background-color: #d9c8aa;
}


#rede_social_titulo{
    width: 150px;
    height: 20px;
    text-align: center;
    font-family:inherit;
    background-color: #ff8c00;
}

#ceter{
    width: 96px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 32px;
    height: 32px;
    float: left;
}